#portfolio {
  .card {
    width: 100%;
    .showcase {
      margin-bottom: 1.5rem;
    }
  }
  .showcase {
    .showcase__button {
      width: 80px;
    }
    .showcase__button:first-child {
      margin-right: .8rem;
    }
  }
}
