$sizes-list: 0 5 10 15 20 25 30 35 40 45 50;

@mixin padding($device, $size) {
  .is-p-#{$device}-#{$size} {
    padding: #{$size}px;
  }
  .is-px-#{$device}-#{$size} {
    padding-right: #{$size}px;
    padding-left:  #{$size}px;
  }
  .is-py-#{$device}-#{$size} {
    padding-top:    #{$size}px;
    padding-bottom: #{$size}px;
  }
  .is-pt-#{$device}-#{$size} {
    padding-top: #{$size}px;
  }
  .is-pb-#{$device}-#{$size} {
    padding-bottom: #{$size}px;
  }
  .is-pr-#{$device}-#{$size} {
    padding-right: #{$size}px;
  }
  .is-pl-#{$device}-#{$size} {
    padding-left: #{$size}px;
  }
}

@mixin margin($device, $size) {
  .is-m-#{$device}-#{$size} {
    margin: #{$size}px;
  }
  .is-mx-#{$device}-#{$size} {
    margin-right: #{$size}px;
    margin-left:  #{$size}px;
  }
  .is-my-#{$device}-#{$size} {
    margin-top:    #{$size}px;
    margin-bottom: #{$size}px;
  }
  .is-mt-#{$device}-#{$size} {
    margin-top: #{$size}px;
  }
  .is-mb-#{$device}-#{$size} {
    margin-bottom: #{$size}px;
  }
  .is-mr-#{$device}-#{$size} {
    margin-right: #{$size}px;
  }
  .is-ml-#{$device}-#{$size} {
    margin-left: #{$size}px;
  }
}

@include mobile {
  @each $size in $sizes-list {
    @include padding(xs, $size);
    @include margin(xs, $size);
  }
}

@include tablet {
  @each $size in $sizes-list {
    @include padding(sm, $size);
    @include margin(sm, $size);
  }
}

@include desktop {
  @each $size in $sizes-list {
    @include padding(md, $size);
    @include margin(md, $size);
  }
}

@include widescreen {
  @each $size in $sizes-list {
    @include padding(lg, $size);
    @include margin(lg, $size);
  }
}

@include fullhd {
  @each $size in $sizes-list {
    @include padding(hd, $size);
    @include margin(hd, $size);
  }
}
