- content_for(:page_title) { render_page_title }

#homepage
  = partial 'partials/homepage/intro', locals: { profile: Profile.first } if Profile.first.present?
  = partial 'partials/homepage/portfolio', locals: { portfolio: Portfolio.all } if Portfolio.first.present?
